extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="foto",class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget lacinia arcu. Cras tristique lacus eget lectus dapibus, sed venenatis tellus dictum. Donec semper vitae lorem hendrerit malesuada. In sit amet aliquam lacus, et elementum leo.

                p Nunc ipsum sapien, commodo non vestibulum vestibulum, tempor nec elit. Etiam non felis ornare, venenatis leo vel, accumsan arcu. Ut dignissim erat a elit pulvinar, lobortis rutrum elit vulputate. Vivamus eget finibus sapien, ac dignissim risus. Vivamus ut tincidunt ipsum, at facilisis est. Curabitur placerat ipsum lorem. 

                p Donec ut vulputate eros. Vestibulum in viverra augue. Vestibulum non consectetur lectus. Cras in feugiat urna. Nullam dignissim bibendum porta. Cras augue enim, faucibus id eros vel, interdum pretium diam. Vivamus tellus massa, laoreet id lacus sed, sollicitudin tincidunt est. 
            .listado-iconos
                .container.mt-5.py-5.text-center
                    .row
                        .col-md-4
                            img(src="img/icono_seguridad.svg",alt="icono_seguridad",class="img-fluid mb-4")
                            h2.mb-4 Seguridad
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum distinctio, neque beatae ullam odit?Lorem ipsum dolor sit amet consectetur, adipisicing elit.

                        .col-md-4
                            img(src="img/icono_destinos.svg",alt="icono_destinos",class="img-fluid mb-4")
                            h2.mb-4 Destinos
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum distinctio, neque beatae ullam odit?Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        .col-md-4
                            img(src="img/icono_precios.svg",alt="icono_precios",class="img-fluid mb-4")
                            h2.mb-4 Precios
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum distinctio, neque beatae ullam odit?Lorem ipsum dolor sit amet consectetur, adipisicing elit.